* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: darkkhaki;
    padding: 10px;
}

header h1 {
    text-align: center;
    margin: 0;
}

section {
    display: flex;
}

article {
    background-color: darkorchid;
    padding: 10px;
    margin: 10px;
    flex: 1 200px;
}

article:nth-of-type(3) {
    flex: 3 200px;
    display: flex;
    flex-flow: column;
}

article:nth-of-type(3) div:first-child {
    flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

button {
    flex: 1 auto;
    margin: 5px;
    font-size: 15px;
}